<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/admin/index.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/css/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/layer-v3.1.1/layer/layer.js}"></script>
</head>

<body>
<main class="con-main">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="example-nf-username">用户名</label>
                        <input class="form-control" disabled id="example-nf-username"
                               name="example-nf-username"
                               th:value="${session.userName}"
                               type="text">
                    </div>
                    <div class="form-group">
                        <label for="example-nf-password">密码</label>
                        <input class="form-control" id="example-nf-password" name="example-nf-password"
                               placeholder="请输入密码" th:value="${session.userPassword}" type="text">
                    </div>
                    <div class="form-group">
                        <label for="example-nf-repassword">确认密码</label>
                        <input class="form-control" id="example-nf-repassword" name="example-nf-repassword"
                               placeholder="请再次确认密码" type="text">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="button">提交</button>
                    </div>

                </div>
            </div>

        </div>
    </div>

</main>
</div>
<script>
    $(".btn-primary").click(function () {
        var username = $("#example-nf-username").val().trim();
        var password = $("#example-nf-password").val().trim();
        var repassword = $("#example-nf-repassword").val().trim();
        if (password == "" || repassword == " ") {
            layer.alert("密码不能为空！")
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/admin/updateUserPw",
            dataType: "json",
            data: {
                username: username,
                password: password,
                repassword: repassword
            },
            async: true,
            success: function (result) {
                console.log(result);
                if ("1" == result.flag) {
                    layer.alert("修改成功！请按确定,2s后自动退出登录", function () {
                        setTimeout(function () {
                            parent.location.href = "/tologin";
                        }, 2000);
                    });
                } else if ("0" == result.flag) {
                    layer.alert("两次密码不一致，重新输入!");
                } else {
                    layer.alert("修改失败！");
                }
            },
            error: function () {
                layer.alert("服务器请求失败")
            }
        });
    })
</script>
</body>
</html>

