body {
    overflow: hidden !important;
}

.nav_title {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    color: white;
    text-shadow: 0px 0px 20px #fdec84,
    10px -10px 30px #ffae35,
    20px -20px 40px #ec760c,
    -20px -60px 50px #cd4607,
    0px -80px 60px #973717,
    10px -40px 70px #451b0e;
}

.head_nav {
    position: fixed;
    padding: 25px 0;
    height: 116px;
    width: 100%;
    border-bottom: 1px solid #252838;
    z-index: 99;
    background-color: #13151f;
    z-index: 999;
}

/*播放按钮*/
#bf_aa {
    display: block;
    position: absolute;
    top: 48%;
    left: 6%;
}

#bf_btn {
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    transition: all 0.4s;
}

.ys_con #bf_btn:hover {
    color: orange;
    border-color: orange;
}

/*留言板样式*/
.mainframe {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 2703px;
    /*margin: 0px auto;*/
    background-color: #13151f;
    color: #EDEFF0;
    font-family: Tahoma, Helvetica, Arial, sans-serif;
    overflow-y: scroll;
    overflow-x: hidden !important;
    border-radius: 10px;
}

.content {
    display: none;
    width: 86%;
    height: 100px;
    word-break: break-all;
    margin: 0px 0px 0px 93px;
    color: #666;
    border: 2px solid #fff;
    border-top: 0px;
    background-color: #e2e2e2;
    color: rgba(0, 0, 0, .87);;
    line-height: 30px;
    text-indent: 10px;
    font-size: 16px;
    outline: none;
    resize: vertical;
    border-radius: 10px;
}

.content::placeholder {
    color: #666;
    font-size: 14px;
}

.subbtn {
    display: none;
    width: 72px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
    border-radius: 2px;
    background-color: #46B2EF;
    color: #FFFFFF;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 157px;
    margin-bottom: 50px;
    margin-top: 5px;
}

.subbtn:hover {
    background-color: #1a88cf;
}

.numofmessage {
    width: 75%;
    height: 20px;
    color: #EDEFF0;
    margin: 0 auto;
    line-height: 20px;
    font-family: 微软雅黑, Tohoma;
}

.msgFrame {
    border-top: 2px solid #fff;
    width: 86%;
    height: 3200px;
    margin: 0px auto

}

.content_1 {
    position: relative;
    width: 75%;
    height: 88px;
    color: #EDEFF0;
    margin: 0 auto;
    border-bottom: 2px solid #fff;
}

.name {
    width: 50px;
    height: 50px;
    margin: 20px 45px;
    border-radius: 5px;
}

.mainInfo {
    width: 70%;
    height: 36px;
    position: absolute;
    left: 135px;
    top: 11px;
}

.userId {
    width: 100%;
    height: 30px;
    font-size: 15px;
}

.conInfo {
    position: absolute;
    top: 24px;
    left: 14px;
    width: 100%;
    height: 15px;
    font-size: 12px;
}

.time {
    position: absolute;
    top: 4px;
    left: 228px;
    width: 100%;
    height: 20px;
    font-size: 12px;
    color: #8AB8E3;
}

.pl_btn a {

    color: #fff;
    font-size: 14px;
}

.pl_btn .btn_one {
    position: absolute;
    top: 46px;
    left: 83px;
}

.pl_btn .btn_two {
    position: absolute;
    top: 46px;
    left: 11px;
}

.pl_btn .dz {
    position: absolute;
    top: 54px;
    left: -6px;
    cursor: pointer;
}

.pl_btn .hf {
    cursor: pointer;
    position: absolute;
    top: 55px;
    left: 66px;
    color: #fff;
    font-size: 14px;
}

.del {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0px;
    top: 56px;
    font-size: 15px;
    color: #8AB8E3;
}

.del_current {
    display: inline-block !important;
}

.del:visited, .del:active {
    color: #8AB8E3;
}

.del:hover {
    color: #f56c6c;
}

.z_current {
    color: #f56c6c;
}

/*滚动条样式*/
.info::-webkit-scrollbar, .mainframe::-webkit-scrollbar {
    width: 6px;
}

.info::-webkit-scrollbar-track,
.mainframe::-webkit-scrollbar-track {
    background-color: white;
}

.info::-webkit-scrollbar-thumb,
.mainframe::-webkit-scrollbar-thumb {
    background-color: #e7535b;
}

.info::-webkit-scrollbar-thumb:active,
.mainframe::-webkit-scrollbar-thumb:active {
    background-color: #e7535b;
}

/*点赞功能*/
.yp_main {
    position: relative;
    width: 97%;
    height: 409px;
    margin: 20px 0px 0px 26px;
    /*border: 1px solid #fff;*/
}

.ys_con .con_title {
    font-size: 32px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    left: 45px;
    top: 19px;
}

.ys_con .con_type {
    position: absolute;
    top: 90px;
    left: 255px;
    font-size: 18px;
    color: #FA6862;
}

.ys_con img {
    margin: 100px 0px 0px 10px;
    width: 200px;
    height: 300px;
}

.ys_jj {
    width: 62%;
    height: 100%;
    position: absolute;
    top: 150px;
    left: 255px;
    color: #fff;
    font-size: 18px;
}

.ys_jj .jj_con {
    overflow: hidden;
    text-overflow: ellipsis;
    /*弹性伸缩盒子模型显示*/
    display: -webkit-box;
    /*限制在一个块级元素显示的文本的行数*/
    -webkit-line-clamp: 2;
    /*设置或检索伸缩和对象的子元素的排列方式*/
    -webkit-box-orient: vertical;
}

.ys_jj .jj_current {
    -webkit-line-clamp: 6 !important;
    text-overflow: clip !important;
}

.pf_pf {
    position: absolute;
    top: 50px;
    right: 30px;
    color: #fff;
    font-size: 27px;
}

.pf {
    position: absolute;
    top: 100px;
    right: 85px;
    color: #FA6862;
    font-size: 50px;
}

.writePl {
    position: absolute;
    right: -800px;
    top: 300px;
    /* margin: 0 auto; */
    width: 75%;
    height: 40px;
}

.writePl .pl, .writePl .fx, .writePl .wt {
    display: block;
    font-size: 36px;
    color: #fff;
    cursor: pointer;
}

.writePl .pl {
    margin: -100px 0px 0px 50px;
}

.writePl .wt {
    margin: -32px 0px 0px 50px;
}

.writePl .fx {
    margin: 30px 0px 0px 50px;
}

.tip {
    position: fixed;
}

.writePl .badge {
    position: absolute;
    top: -106px;
    left: 77px;
    height: 18px;
    line-height: 18px;
    padding: 0 6px;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    background: #f56c6c;
    border-radius: 10px;
    border: 1px solid #fff;
}

.show_tip span {
    position: absolute;
    top: 25px;
    left: 49px;
    display: inline-block;
    width: 0;
    height: 0;
    border: 9px solid transparent;
    border-top: 7px solid #666;
    color: #fff;
}

.show_tip {
    text-align: center;
    line-height: 26px;
    font-size: 12px;
    color: #fff;
    display: none;
    opacity: .5;
    top: -75px;
    left: 10px;
    position: relative;
    border-radius: 10px;
    width: 120px;
    height: 26px;
    background-color: #666;
}

.replay_con {
    width: 100%;
    height: 100px;
    margin: 0px 0px 0px 0px;
    border: 1px solid #fff;
}

.reply_content {
    display: none;
    width: 100%;
    height: 80px;
    margin: 18px auto;
    border: 2px solid #fff;
    border-top: 0px;
    background-color: #e2e2e2;
    color: black;
    text-indent: 2px;
    font-size: 14px;
}

.reply_btn {
    display: none;
    width: 72px;
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border-radius: 2px;
    background-color: #46B2EF;
    color: #FFFFFF;
    border: 1px solid #fff;
    cursor: pointer;
    margin-left: 20px;
    margin-bottom: 17px;
}

